<div class="card">
  <h5 class="card-header"><%= @emails.object %></h5>
  <div class="card-body">
    <p class="card-text"><%= @emails.body %></p>
    
    <div class="row">
       <button class="btn btn-primary">Marquer comme non-lu</button>
      
        <%= form_tag("/emails/#{@emails.id}", method: "delete", remote: true) do %>
        <input class="btn btn-danger" type="submit" value="Supprimer" />
        <% end %>
     
    </div>	
  </div>
</div> 

	