<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Content</th>
  
    </tr>
     </thead> 
  
<tbody id="email-table">
<% @emails.each do |email|  %>

    <tr id="email-row">
      <th scope="row" id="email-id"><%= email.id %></th>
      <td id="email-object"><%= link_to email.object, email, remote: true %></td>
      <td id="email-body"></td>
    </tr>
   
  <% end %>
  </tbody>
</table>

