<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Content</th>
  
    </tr>
     </thead> 
<tbody id="email-table">
<% @emails.each do |email|  %>

    <tr>
      <th scope="row" id="email-id"><%= email.id %></th>
      <td id="email-object"><%= email.object %></td>
      <td id="email-body"><%= email.body %></td>
    </tr>
   
  <% end %>
  </tbody>
</table>
