<div class="card">
  <div class="card-header">
    <%= @emails.object %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Le contenu de l'email :</h5>
    <p class="card-text"><%= @emails.body %></p>
  </div>
</div>